<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{#block "header_tags"}}
      <title>\{{ title }}</title>
    {{/block}}
  </head>
  <body>
    <input type="hidden" id="userId" value="\{{ userId }}" />
    <div id="header_div">
      <div id="icon_div"><a href="/">Home</a></div>
      <div id="heading_div">
        {{#block "header_block"}}<h2>{{pageHeading}}</h2>{{/block}}
      </div>
      <div id="nav_buttons_div">
        <div id="nav_buttons">
          {{#block "nav_buttons_block"}}
            <a href="/docs">Docs</a>
            |
            <a href="/blog">Blog</a>
          {{/block}}
          {{#block "extra_nav_buttons_block"}}{{/block}}
        </div>
      </div>
    </div>
    <div id="center_div"> {{#block "center_block"}}{{/block}} </div>
    <div id="footer_div"> {{#block "footer_block"}}{{/block}} </div>
    {{#block "footer_scripts"}}{{/block}}
  </body>
</html>
