[submodule "sites/blog/themes/hugo-theme-mixedpaper"]
	path = sites/blog/themes/hugo-theme-mixedpaper
	url = https://github.com/wayjam/hugo-theme-mixedpaper.git
[submodule "site/themes/hugo-theme-mixedpaper"]
	path = site/themes/hugo-theme-mixedpaper
	url = https://github.com/wayjam/hugo-theme-mixedpaper.git
[submodule "site/themes/hugo-geekdoc"]
	path = site/themes/hugo-geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc.git
[submodule "site/themes/hugo-geekblog"]
	path = site/themes/hugo-geekblog
	url = https://github.com/thegeeklab/hugo-geekblog.git
