$inputHeaderHeight: 30px;

#inputArea .inputHeaderArea {
  position: absolute;
  overflow: scroll;
  left: 0px;
  right: 0px;
  top: 0px;
  height: $inputHeaderHeight;
}

#inputArea .inputEditorArea {
  position: absolute;
  overflow: scroll;
  left: 0px;
  right: 0px;
  top: $inputHeaderHeight;
  bottom: 0px;
}
