+++
title = "Galore"
linkTitle = "Galore"

+++

{{% blocks/lead color="primary" %}} Galore is a set of tools for building and analyzing flexible and high performant
parsers. {{% /blocks/lead %}} {{< blocks/section color="dark" >}} {{% blocks/feature icon="fab fa-github"
title="Contributions welcome!" url="https://github.com/panyam/galore" %}} We do a [Pull
Request](https://github.com/panyam/galore/pulls) contributions workflow on **GitHub**. New users are always welcome! {{%
/blocks/feature %}} {{< /blocks/section >}}
