
.grammarAreaParent .grammarHeaderArea {
  position: absolute;
  overflow: scroll;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
}

.grammarAreaParent .grammarEditorArea {
  position: absolute;
  overflow: scroll;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}

.parserTypeSelect {
  width: unset;
  display: unset;
}
