$default_bg: aliceblue;
$header_height: 40px;
$footer_height: 20px;
$footer_padding: 0px;

h2 {
  margin: 2px;
  white-space: nowrap;
}

body {
  scroll: none;
}

#header_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header_height;
  text-align: center;
  border: solid 0px green;
  vertical-align: middle;
}

#center_div {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: auto;
  top: $header_height;
  bottom: $footer_height + $footer_padding;
  border: solid 0px blue;
}

#footer_div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $footer_height;
  border: solid 0px green;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

$icon_width: 200px;
#icon_div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: $icon_width;
  bottom: 0px;
  border: solid 0px green;
}

#heading_div {
  position: absolute;
  top: 0px;
  left: $icon_width;
  right: $icon_width;
  bottom: 0px;
  border: solid 0px green;
}

#nav_buttons_div {
  position: absolute;
  left: 50%;
  right: 0px;
  top: 0px;
  height: $header_height;
  border: solid 0px red;
}

#nav_buttons {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 10px;
  text-align: right;
}

.dialog fieldset {
  padding: 0;
  border: 0;
  margin-top: 0px;
}

.dialog fieldset label {
  font-weight: bold !important;
  font-size: 1.5rem !important;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dialog fieldset input,
textarea,
select {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
