@import "../../fecommon/global";
@import "./vars";

h1 {
  margin-top: 10px;
}

#grammarSelect {
  width: unset;
  display: unset;
}

.windowChild {
  position: absolute;
  overflow: scroll;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border: solid 1px darkgray;
  padding: 10px;
}

/*
#headerBar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: $header-bar-height;
}
*/

#desktopArea {
  position: absolute;
  left: 0px;
  top: $header-bar-height;
  bottom: $statusBarHeight;
  right: 0px;
}

#statusBar {
  position: absolute;
  overflow: hidden;
  height: $statusBarHeight;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(245, 245, 245);
  color: gray;
  padding: 0;
  margin: 0;
}

