{{#partial "header_block" }}
  <h2 style="overflow-x: auto"><span id = "scoreTitleHeading">\{{ score.name }}</span></h2>
{{/partial}}

{{#partial "center_block" }}
  <div id = "editor" class = "vertical"></div>
  <div id = "viewer" class = "vertical"></div>
  <div id = "statusBar" class = "vertical">Welcome!</div>
  <div id = "headerBar" class = "vertical">
  </div>
{{/partial}}

{{#partial "nav_buttons_block" }}
{{/partial}}

{{#partial "footer_block" }}
  <pre class = "scoreContentsPre">
    <code contentSection = "header">\{{ contents.header }}</code>
    <code contentSection = "main">\{{ contents.main }}</code>
  </pre>
  <input type = "hidden" id = "scoreIdInput" value = "\{{ score.id }}" />
{{/partial}}

{{>basepage}}
