
{{#partial "header_tags" }}
<title>Galore Playground</title>
<link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
<link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
{{/partial}}
{{#partial "header_block" }}
  <h2 style="overflow-x: auto"><span id = "scoreTitleHeading">Galore Playground</span></h2>
{{/partial}}

{{#partial "center_block" }}
  <div id = "headerBar">
    <span>Grammar: </span><select id = "grammarSelect">
      <option value="json">JSON</option>
      <option value="javascript">Javascript</option>
      <option value="C">C</option>
    </select>
  </div>
  <div id = "desktopArea"></div>
  <div id = "statusBar">Welcome!</div>
{{/partial}}

{{#partial "nav_buttons_block" }}
{{/partial}}

{{#partial "footer_block" }}
  <div id = "grammarArea" class = "windowChild">
    <div class = "grammarHeaderArea">
      <button class = "saveButton">Save</button>
      <button class = "saveAsButton">Save As</button>
      <button class = "compileButton">Compile</button>
      <span>Type: </span><select class = "parserTypeSelect">
        <option value="slr">SLR</option>
        <option value="lr1">LR1</option>
      </select>
    </div>
    <div class = "grammarEditorArea"></div>
  </div>
  <div id = "normalizedGrammarArea" class = "windowChild">
    <div class = "grammarEditorArea"></div>
  </div>
  <div id = "ptreeArea" class = "windowChild"></div>
  <div id = "inputArea" class = "windowChild">
    <div class = "inputHeaderArea">
      <button class = "parseButton">Parse</button>
    </div>
    <div class = "inputEditorArea"></div>
  </div>
  <div id = "ptableArea" class = "windowChild"></div>
  <div id = "consoleArea" class = "windowChild">
    <div class = "consoleHeaderArea">
      <button class = "clearButton">Clear</button>
    </div>
    <div class = "consoleLogArea"></div>
</div>
{{/partial}}
{{>basepage}}
